div(class="player__track track")
    div(class="track__progressbar")
    div(class="track__progress")
    span(class="track__cover")
        img(src="./img/cover-.png" class="track__img" alt="cover")
    div(class="track__name")
        p(class="track__song text__song") CREDO
        p(class="track__singer text__singer") ziviert
    div(class="track__star")
        div(class="star__shadow")
        div(class="star")
    p(class="track__time text__time") 1:45
