@import '../../fonts/fonts'

@mixin font-bebas($size: 18px, $color: #fff, $weight: 400)
    font-family: 'Bebas Neue Regular', 'Oswald', sans-serif
    font-weight: $weight
    font-size: $size
    // line-height: 24px
    color: $color
    text-transform: uppercase

.text

    &__header
        @include font-bebas(48px, #fff, 700)

    &__song
        @include font-bebas(24px)

    &__singer
        @include font-bebas(18px, #aaa)

    &__time
        @include font-bebas(18)
        
