doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(name='viewport', content="width=device-width, initial-scale=1.0")
    title Audio player
    link(rel="icon" href="./img/favicon.png" type="image/x-icon")
    link(rel="shortcut icon" href="./img/favicon.png" type="image/x-icon")
    link(rel="stylesheet", href="./css/styles.css")
  body(class="page")
    main(class="player")
        h1(class="player__header text__header") новое
        section(class="player__playlist")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="./js/index.js")